<br>

<br>

<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-progress-bar mode="query"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-progress-bar mode="query"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>

<br>

<address>
    <p>jozef.javorsky.strom44zem88@gmail.com</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;github.com/jozefjavorskyDodo</p>
</address>

<br>